a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  all: revert;
  display: inline-block;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-auto-rows: 200px;
  gap: 20px;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.gallery-item {
  width: 360px;
  height: 200px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
