.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  list-style: none;
  padding: 0;
  margin: 100px 156px;
  justify-content: center;
}

.gallery li {
  flex-basis: calc((100% - 48px) / 3);
  overflow: hidden;
}

.gallery img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
